.header {
  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  width: 100vw;
  height: 80px;
  padding: 0 32px;
  justify-content: flex-start;
  align-items: center;

  color: rgb(255, 255, 255);

  background-color: rgb(35, 106, 138);
}

.logo {
  margin-right: 16px;

  font-size: 0;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
}

.menu {
  margin-left: auto;
}

